@using AntDesign
@using Blazor_QLSV.Models.Entity
@inject IMessageService messageService
@inject NotificationService _notice

<Button Icon="plus" Type="primary" @onclick="_=>Open()">New student</Button>
<Drawer Closable="true" Width="520" Visible="visible" Title='(title)' OnClose="_=>Close()">
    <Template style="height:90%">
        <EditForm @ref="editForm" OnValidSubmit="@Submit"
                  OnInvalidSubmit="@SubmitFalse"
                  Model="@StudentDto">
            <DataAnnotationsValidator />
            <Row>
                <AntDesign.Col Span="24">   
                    <Text>Name</Text>
                    <Input TValue="string" Placeholder="Name" @bind-Value="@StudentDto.Name" />
                    <ValidationMessage For="@(() => StudentDto.Name)" />
                </AntDesign.Col>
            </Row>
            <br />
            <Row>
                <AntDesign.Col Span="24">
                    <Text>Address</Text>
                    <Input TValue="string" Placeholder="Address" @bind-Value="@StudentDto.Address" />
                    <ValidationMessage For="@(() => StudentDto.Address)" />
                </AntDesign.Col>
            </Row>
            <br />
            <Row>
                <AntDesign.Col Span="24">
                    <Text>Birthday</Text>
                    <br />
                    <DatePicker @bind-Value="@StudentDto.DateOfBirth" Format="dd/MM/yyyy" />
                    <ValidationMessage For="@(() => StudentDto.DateOfBirth)"/>
                </AntDesign.Col>
            </Row>
            <br />
            <Row>
                <AntDesign.Col Span="24">
                    <Text>Class</Text>
                    <Select @bind-Value="@StudentDto.ClassId" DataSource="Classes" ValueName="@nameof(Class.ID)" LabelName="@nameof(Class.Subject)" AllowClear></Select>
                     <ValidationMessage For="@(() => StudentDto.ClassId)" />
                 </AntDesign.Col>
             </Row>
             <br />
             <Row Justify="end" Gutter="16">
                 <Col>
                     <Button Type="@ButtonType.Primary" HtmlType="submit" OnClick="@OnWarningClick">Submit</Button>
                 </Col>
                 <Col>
                    <Button Type="default" OnClick="_=>Close()">Cancel</Button>
                 </Col>
             </Row>
         </EditForm>


     </Template>
 </Drawer>
 